* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: burlywood;
    overflow-x: hidden;
    height: 1200vh;
    position: relative;
}

.heading {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://th.bing.com/th/id/OIP.h8cWaC_zvXENLttL-NtkrwHaEK?o=7rm=3&rs=1&pid=ImgDetMain&o=7&rm=3);
    flex-direction: column;
}

.heading h1 {
    font-size: 90px;
    color: white;

    animation: change_head_p linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 20vh;
}

.heading p {
    padding-top: 50px;
    font-size: 50px;
    color: gray;
    animation: down linear 0.5s infinite;
    animation: change_head_p linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 20vh;
}

@keyframes change_head_p {
    0% {
        transform: translateY(60px);
    }

    100% {
        opacity: 0;
    }
}

.sections {
    background-color: blueviolet;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
}

.sections_img {
    width: 30%;
    height: 100vh;
    background: url(images/sun.jpg);
    background-size: cover;
    background-position: 140%;
    background-repeat: no-repeat;
    transform: translateX(-1000px);
    opacity: 0;

    animation: change_img linear forwards;
    animation-timeline: scroll();
    animation-range: 20vh 920vh;
}

@keyframes change_img {

    6.12% {
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }

    16.32% {
        background: url(images/sun.jpg);
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }

    26.53% {
        background: url(images/mercury.jpg);
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }

    36.73% {
        background: url(images/venus.jpg);
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }

    46.93% {
        background: url(images/earth.jpg);
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }

    57.14% {
        background: url(images/mars.jpg);
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }

    67.34% {
        background: url(images/jupiter.jpg);
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }

    77.55% {
        background: url(images/saturn.jpg);
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }

    87.75% {
        background: url(images/uranus.jpg);
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }

    97.95%,
    100% {
        background: url(images/neptune.jpg);
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }
}

.sections_text {
    background-color: brown;
    width: 70%;
    height: 100vh;
}

.sections_text_head {
    width: 100%;
    height: 20vh;
    background-color: coral;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

.sections_text_p {
    width: 100%;
    height: 60vh;
    background-color: darksalmon;
    padding-left: 20px;
    text-align: justify;
    max-width: 700px;
}

.sections_btn {
    width: 100%;
    height: 20vh;
    background-color: deeppink;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sections_btn a {
    text-decoration: none;
    width: 250px;
    height: 80px;
    background-color: aqua;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border-radius: 20px;
    border: 2px solid black;
}


#head_1,
#head_2,
#head_3,
#head_4,
#head_p1,
#head_p2,
#head_p3,
#head_p4,
#p1,
#p2,
#p3,
#p4 {
    animation: head_1 linear forwards;
    animation-timeline: scroll();
    opacity: 0;
}

#head_1,
#head_p1,
#p1 {
    animation-range: 60vh 180vh;
}

#head_2,
#head_p2,
#p2 {
    animation-range: 160vh 280vh;
}

#head_3,
#head_p3,
#p3 {
    animation-range: 260vh 380vh;
}

#head_4,
#head_p4,
#p4 {
    animation-range: 360vh 480vh;
}

@keyframes head_1 {
    0% {
        opacity: 0;
        transform: translateY(-140px);
    }

    5% {
        opacity: 0.5;
        transform: translateY(-70px);
    }

    10%,
    90% {
        opacity: 1;
        transform: translateY(0);
    }

    95% {
        opacity: 0.5;
        transform: translateY(70px);
    }

    100% {
        opacity: 0;
        transform: translateY(140px);
    }
}

.sections_text_p {
    text-align: center;
    font-size: 18px;
    padding: 150px;
    position: relative;
}

.sections_text_head {
    position: relative;
}

.sections_text_head h1,
.sections_text_head p {
    position: absolute;
}

.sections_text_head p {
    padding-bottom: 80px;
}

.sections_text_p p {
    position: absolute;
    padding-right: 100px;
}

.sections_btn {
    position: relative;
}

.sections_btn a {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

#btn1,
#btn2,
#btn3,
#btn4 {
    animation: showBtn linear forwards;
    animation-timeline: scroll();
}

#btn1 {
    animation-range: 60vh 180vh;
}

#btn2 {
    animation-range: 160vh 280vh;
}

#btn3 {
    animation-range: 260vh 380vh;
}

#btn4 {
    animation-range: 360vh 480vh;
}

@keyframes showBtn {
    0% {
        transform: translateX(300px);
    }

    10% {

        opacity: 0.5;
        pointer-events: auto;
    }

    30%,
    80% {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }

    90% {
        opacity: 0.5;
        pointer-events: auto;
    }

    100% {
        opacity: 0;
        pointer-events: none;
        transform: translateX(-300px);
    }
}