* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #000000 0%, #000000 40%, #0B1020 70%, #1A1F35 100%);
    overflow-x: hidden;
    height: 1000vh;
    position: relative;
    color: white;
    user-select: none;
}

.heading {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://th.bing.com/th/id/OIP.h8cWaC_zvXENLttL-NtkrwHaEK?o=7rm=3&rs=1&pid=ImgDetMain&o=7&rm=3);
    flex-direction: column;
    
}

.heading h1 {
    font-size: 120px;
    color: white;
    font-family: 'Orbitron', sans-serif;

    animation: change_head_p linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 20vh;
}

.heading p {
    padding-top: 50px;
    font-size: 50px;
    color: gray;
    font-family: 'Audiowide', sans-serif;
    animation: down linear 0.5s infinite;
    animation: change_head_p linear forwards;
    animation-timeline: scroll();
    animation-range: 0vh 20vh;
}

@keyframes change_head_p {
    0% {
        transform: translateY(60px);
    }

    100% {
        opacity: 0;
    }
}

.sections {
    background-color: transparent;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
}

.sections_img {
    width: 30%;
    height: 100vh;
    background: url(images/sun.jpg);
    background-size: cover;
    background-position: 140%;
    background-repeat: no-repeat;
    transform: translateX(-1000px);
    opacity: 0;

    animation: change_img linear forwards;
    animation-timeline: scroll();
    animation-range: 20vh 920vh;
}

@keyframes change_img {

    6.12% {
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }

    16.32% {
        background: url(images/sun.jpg);
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }

    26.53% {
        background: url(images/mercury.jpg);
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }

    36.73% {
        background: url(images/venus.jpg);
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }

    46.93% {
        background: url(images/earth.jpg);
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }

    57.14% {
        background: url(images/mars.jpg);
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }

    67.34% {
        background: url(images/jupiter.jpg);
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }

    77.55% {
        background: url(images/saturn.jpg);
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }

    87.75% {
        background: url(images/uranus.jpg);
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }

    97.95%,
    99% {
        background: url(images/neptune.jpg);
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }
    100% {
        background: url(images/neptune.jpg);
        opacity: 1;
        transform: translateX(0);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 140%;
    }
}

.sections_text {
    background-color: transparent;
    width: 70%;
    height: 100vh;
}

.sections_text_head {
    width: 68%;
    height: 20vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

.sections_text_p {
    width: 100%;
    height: 60vh;
    background-color: transparent;
    padding-left: 20px;
    text-align: justify;
    max-width: 700px;
}

.sections_text_head h1 {
    font-family: 'Audiowide', sans-serif;
    font-size: 45px;
}

.sections_text_head p {
    font-family: 'Cinzel', sans-serif;
    font-size: 25px;
}

.sections_btn {
    width: 70%;
    height: 20vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sections_btn a {
    text-decoration: none;
    width: 250px;
    height: 80px;
    background-color: transparent;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    border-radius: 20px;
    border: 2px solid #BFBFBF;
    color: white;
    box-shadow: 0 0 20px white;
    transition: 0.5s;
}

.sections_btn a:hover {
    color: black;
    background-color: white;
    transition: 0.5s;
}

#head_1,
#head_2,
#head_3,
#head_4,
#head_5,
#head_6,
#head_7,
#head_8,
#head_9,
#head_p1,
#head_p2,
#head_p3,
#head_p4,
#head_p5,
#head_p6,
#head_p7,
#head_p8,
#head_p9,
#p1,
#p2,
#p3,
#p4,
#p5,
#p6,
#p7,
#p8,
#p9,
#load {
    animation: head_1 linear forwards;
    animation-timeline: scroll();
    opacity: 0;
}

#head_1,
#head_p1,
#p1 {
    animation-range: 60vh 180vh;
}

#head_2,
#head_p2,
#p2 {
    animation-range: 160vh 280vh;
}

#head_3,
#head_p3,
#p3 {
    animation-range: 260vh 380vh;
}

#head_4,
#head_p4,
#p4 {
    animation-range: 360vh 480vh;
}

#head_5, #head_p5, #p5 {
    animation-range: 460vh 580vh;
}

#head_6, #head_p6, #p6 {
    animation-range: 560vh 680vh;
}

#head_7, #head_p7, #p7 {
    animation-range: 660vh 780vh;
}

#head_8, #head_p8, #p8 {
    animation-range: 760vh 880vh;
}

#head_9, #head_p9, #p9 {
    animation-range: 860vh 980vh;
}

#load {
    /*
    font-size: 50px;
    text-align: center;
    font-family: 'Audiowide', sans-serif;
    animation-range: 560vh 1200vh; */
    opacity: 0;
}
@keyframes head_1 {
    0% {
        opacity: 0;
        transform: translateY(-140px);
    }

    5% {
        opacity: 0.5;
        transform: translateY(-70px);
    }

    10%,
    90% {
        opacity: 1;
        transform: translateY(0);
    }

    95% {
        opacity: 0.5;
        transform: translateY(70px);
    }

    100% {
        opacity: 0;
        transform: translateY(140px);
    }
}

.sections_text_p {
    text-align: left;
    font-size: 18px;
    padding: 100px;
    position: relative;
    line-height: 1.8;
    color: #BFBFBF;
}

.sections_text_head {
    position: relative;
}

.sections_text_head h1,
.sections_text_head p {
    position: absolute;
}

.sections_text_head p {
    padding-bottom: 80px;
}

.sections_text_p p {
    position: absolute;
    padding-right: 100px;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.sections_btn {
    position: relative;
}

.sections_btn a {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    font-family: 'Audiowide', sans-serif;
}

#btn1,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6,
#btn7,
#btn8,
#btn9 {
    animation: showBtn linear forwards;
    animation-timeline: scroll();
}

#btn1 {
    animation-range: 60vh 180vh;
}

#btn2 {
    animation-range: 160vh 280vh;
}

#btn3 {
    animation-range: 260vh 380vh;
}

#btn4 {
    animation-range: 360vh 480vh;
}

#btn5 {
    animation-range: 460vh 580vh;
}

#btn6 {
    animation-range: 560vh 680vh;
}

#btn7 {
    animation-range: 660vh 780vh;
}

#btn8 {
    animation-range: 760vh 880vh;
}

#btn9 {
    animation-range: 860vh 980vh;
}

@keyframes showBtn {
    0% {
        transform: translateX(300px);
    }

    10% {

        opacity: 0.5;
        pointer-events: auto;
    }

    30%,
    80% {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }

    90% {
        opacity: 0.5;
        pointer-events: auto;
    }

    100% {
        opacity: 0;
        pointer-events: none;
        transform: translateX(-300px);
    }
}